.footer{
  margin: 0 auto;
  max-width: calc(100% - 400px);
}
@media screen and (max-width: 1150px){
  .footer{
    max-width: calc(100% - 150px);
  }
}
@media screen and (max-width: 852px){
  .footer{
    max-width: calc(100% - 50px);
  }
}
@media screen and (max-width: 320px){
  .footer{
    max-width: calc(100% - 38px);
  }
}
